name: "✅ Linter"

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/linter.yml
      - "**.py"

  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/linter.yml
      - "**.py"

env:
  PROJECT_FOLDER: "profile_manager"

jobs:
  qt6-check:
    name: "PyQt6 6️⃣"
    runs-on: ubuntu-latest
    container:
      image: registry.gitlab.com/oslandia/qgis/pyqgis-4-checker/pyqgis-qt-checker:latest
      volumes:
        - /tmp/.X11-unix:/tmp/.X11-unix
        - ${{ github.workspace }}:/home/pyqgisdev/
      options: --user root
    steps:
      - name: Get source code
        uses: actions/checkout@v6

      - name: Check PyQt5 to PyQt6 compatibility.
        run: |
          pyqt5_to_pyqt6.py --dry_run ${{ env.PROJECT_FOLDER }}/
          pyqt5_to_pyqt6.py --logfile pyqt6_checker.log ${{ env.PROJECT_FOLDER }}/

      - name: Upload script report if script fails
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: pyqt6-checker-error-report
          path: pyqt6_checker.log
          retention-days: 7
